@page "/"

<PageTitle>Ana Sayfa</PageTitle>

<h1>Eğitim Projesine Hoş Geldin! 👋</h1>
<hr />
<p>
    Soldaki menüden ürünleri listeleyebilir (<b>Fetch data</b>) veya
    yeni ürün ekleyebilirsin (<b>Yeni Ürün Ekle</b>).
</p>
<p>
    Bu arayüz, API'mize bağlı SignalR Hub'ını dinler.
    API'ye yeni bir ürün eklendiğinde, 'Fetch data' sayfasındaki liste
    anında (real-time) güncellenir.
</p>